<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="end" fill="clear" (click)="closeChat()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>

    <ion-title>{{chat.name}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div *ngIf="room">
    <ion-card *ngFor="let message of room.messages">
      <ion-card-title></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>

      <ion-card-content>
        {{message.content}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-textarea [(ngModel)]="msg"></ion-textarea>
    <ion-button color="success" (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>
