<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="end" fill="clear" routerLink="/login">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Signin</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="signinContainer">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
<!--    <ion-item>-->
<!--      <ion-label position="floating">Confirm Password</ion-label>-->
<!--      <ion-input type="password" [(ngModel)]="passwordCheck" name="passwordCheck"></ion-input>-->
<!--    </ion-item>-->
    <ion-button color="tertiary" expand="block" class="signinBtn" (click)="onSubmitSignin()">Sign In</ion-button>
  </div>
</ion-content>
