<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loginContainer">
    <ion-item>
      <ion-label position="floating"> Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
    </ion-item>
    <ion-button expand="block" class="loginButton" (click)="onSubmitLogin()">Log In</ion-button>
  </div>
  <p routerLink="/signin">Sign In</p>
</ion-content>
