<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-button slot="start" fill="clear" (click)="presentActionSheet()">
      <ion-icon name="menu"></ion-icon>
    </ion-button>
    <ion-title>
    {{userName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let chat of chatRooms" (click)="openChatRoom(chat)">
      <ion-avatar slot="start">
        <ion-img [src]="chat.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{chat.name}}</h2>
        <h3>{{chat.description}}</h3>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
